<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=.8,maximum-scale=1" />
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette">
    <link rel="stylesheet" href="~/CSS/custom.css">

    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>

<body>
    <header>
        <div class="container-fluid text-center header-titlebar fondanti-border">
            <h1 class="header-title">Fondanti</h1>
        </div>

    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer class="page-footer font-small blue pt-4 mt-4">
        <div class="container-fluid footer-bar text-center">
            <a class="btn btn-social-icon btn-facebook text-big" href="https://www.facebook.com/fondanti/" target="_blank">
                <span class="fa fa-facebook"></span>
            </a>
            <a href="mailto:nic.lagerweij@gmail.com";"><img src="https://www.ubicentrex.fr/wp-content/uploads/2016/04/Icon-msg-mail-1.png"></a>
            <a style="text-align:right" href="~/Admin.cshtml">Log In</a>
        </div>
    </footer>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="~/JS/makeCake.js"></script>
    <script>
        //Initialize and set a few watchers
        setupMakeCake();
    </script>
    <script src="~/JS/custom.js"></script>
</body>
</html>
