@{
    Page.Title = "Title goes here";
    Layout = "~/_Layout.cshtml";
    //Layout = "Your Layout Page goes here";
}

<body>
    <div class="container">
        <!--Taart samenstellen-->
        <div class="row section-cake">
            <div class="col-sm-12">
                <h3 class="title text-center">
                    Stel hier je taart samen!
                </h3>

            </div>
        </div>
        <!--Galerij-->
        <div class="row section-gallery">
            <div class="col-sm-12">
                <h3 class="title text-center">
                    Gallerij
                </h3>
                
            </div>
            
        </div>
    </div>
</body>
